textarea._tinymce {
  display: none;
}
div.ff-right {
  padding-left:0em;
}
._eg_tinymce textarea {
  width:800px;
  height:410px;
}
._eg_upload_form p.ff-checklist{
  margin-left:50%;
}
._eg_upload_form fieldset {
  border:1px solid #CCCCCC;
}
.wide_multidropdown {
  width: 40em;
}
.click_update_tag {
  border: 1px solid orange;
  padding: 2px 8px;
}
.eg_tab fieldset {
  padding:8px !important;
}
div.eg_tab {
  padding:8px;
}
div#_document_cvs_tab label.ff-label {
  width:10em;
}
div#_document_cvs_tab div.ff-notes {
  padding: 3px 0 3px
}
